a.btn:visited {
    color: white !important;
}

#KGlobalHeader {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 999;
    background-color: white;
}

#KGlobalHeader:after {
    content: "";
    display: block !important;
    background-size: 100% 5px;
    position: absolute;
    height: 5px;
    width: 100% !important;
    left: 0px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAFCAYAAACzSkmrAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACkSURBVDiN7dExDsIwDEbh9we1soXE6eCEbJyInQNwgKgxQ9WWFrIShr7ZkewvYm/V5fbwLj8NoKTec0lGzp66ZAzJS8jQ4EKG5KLY+FIeYBAOMoRHyFC4YJwpcqVixGYWnHHG1ebs700YHxBAHWM6DqoYHxBvswvGEegbnL1q/pAqxgQB1DE2EEAdY4aABeMEHH57+n+m8/UerZfYW0qtF9hb9wI2bU03vw4M8QAAAABJRU5ErkJggg==");
}

#KGlobalHeader a {
    outline: none;
}

/* Specific Styles for Neon Header */
.KNeonHeader {
    margin-top: -50px;
    margin-bottom: -70px;
    background-color: transparent !important;
}
.KNeonHeader:after {
    bottom: 70px;
}
/* End ~ Specific Styles for Neon Header */

#kHeaderNav {
    padding: 0;
    min-height: 50px;
    font-size: 14px;
}

#kHeaderNav a.active {
    background-color: #54a3d8;
    color: #FFF;
    /*text-shadow: 0px 0px 1px #375a7d;*/
}
#kHeaderNav a.active:before {
    color: #FFF;
}
#kHeaderNav a.active:hover {
    color: #FFF;
}

#kHeaderNav button {
    outline: 0;
}

#KGlobalLogo {
    height: 50px;
    margin: 0px;
    padding: 0px !important;
    padding-left: 50px !important;
    padding-right: 10px !important;
    background-color: #54a3d8;
    line-height: 50px;
}

#KGlobalLogo:before {
    position: absolute;
    top: 0;
    left: 25px;
    width: 42px;
    margin-left: -21px;
    content: "K";
    color: white;
    font-family: "glyph";
    font-weight: normal;
    font-size: 32px;
    text-indent: 0px;
    text-align: center;
    display: inline-block;
    text-decoration: none !important;
}

#KGlobalLogo:hover:before {
    color: white;
}

.navbar-toggler {
    padding: 0;
    font-size: 0;
}

.navbar-toggler:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    content: "=";
    color: #4d4d4d;
    font-family: "glyph";
    font-size: 22px;
    font-weight: normal;
    text-indent: 0px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    text-decoration: none !important;
}

#kHeaderNav .navbar-collapse a {
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    color: #334545;
    display: inline-block;
}

#kHeaderNav .navbar-collapse a.active {
    background-color: #54a3d8;
    color: #FFF;
    /*text-shadow: 0px 0px 1px #375a7d;*/
}
#kHeaderNav .navbar-collapse a.active:before {
    color: #FFF;
}
#kHeaderNav .navbar-collapse a.active:hover {
    color: #FFF;
}

#kHeaderNav .navbar-collapse a:hover {
    color: #3daefd;
}

#kHeaderNav .navbar-collapse .navbar-nav {
    list-style: none;
}

#kHeaderNav .navbar-collapse .navbar-nav .nav-item {
    display: inline-block;
}

#kHeaderNav .navbar-collapse .navbar-nav .nav-item a {
    text-decoration: none;
}

#kHeaderNav .show {
    background-color: white;
    width: 100%;
    height: auto;
}
.KLayout {
    background-color: #fcfcfc;
    padding: 1px 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}


.KLayout a {
    text-decoration: none;
    color: #2980b9;
    outline: none;
}

.KLayout section {
    /*
    background-color: #eff0f1;
    border-top: solid 1px #fcfcfc;
    border-bottom: solid 1px #fcfcfc;
    */
    background-color: #fcfcfc;
    padding: 0px;
    margin: 20px 0px;
}

.KLayout section > img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
}

.KLayout section img.splashImage {
    display: block;
    max-width: 100%;
    margin: 10px auto;
    padding: 0px 20px;
    box-sizing: border-box;
}




.KLayout section article {
    width: 100%;
    display: block;
    max-width: 1000px;
    margin: 0px auto;
    background-color: #fcfcfc;
    border-left: solid 3px rgba(0,0,0,.05);
    border-right: solid 3px rgba(0,0,0,.05);
    box-sizing: border-box;
    padding: 20px;
}


.KLayout section article h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 120%;
    text-align: center;
    margin: 20px auto;
    color: #4d4d4d;
}

.KLayout section article h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
    margin: 20px auto;
    color: #4d4d4d;
}

.KLayout section article h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 120%;
    text-align: center;
    margin: 20px auto;
    color: #4d4d4d;
}

.KLayout section article * + h1,
.KLayout section article *:not(h1) + h2,
.KLayout section article *:not(h1):not(h2) + h3,
.KLayout section article *:not(h1):not(h2):not(h3) + h4,
.KLayout section article *:not(h1):not(h2):not(h3):not(h4) + h5 {
    margin-top: 40px;
}

.KLayout sup.tag {
    background-color: #eff0f1;
    color: #4d4d4d;
    padding: 0px 4px;
    border-radius: 3px;
    border: solid 1px rgba(0,0,0,.1);
    line-height: 100%;
    font-size: 10px;
    font-weight: normal;
    vertical-align: top;
    position: relative;
    top: -.2em;
    margin-left: 2px;
}

.KLayout section article > * {
    display: block;
    box-sizing: border-box;
    margin: 10px auto;
    max-width: 600px;
    text-align: left;
    line-height: 160%;
}

.KLayout section article > small {
    background-color: #eff0f1;
    color: #95a5a6;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    border: solid 1px rgba(0,0,0,.1);
    line-height: 150%;
}

.KLayout section article > aside {
    background-color: #3daefd;
    color: #fafafa;
    padding: 5px 10px;
    border-radius: 3px;
    border: solid 1px rgba(0,0,0,.1);
    line-height: 150%;
}

.KLayout section article {
    line-height: 180%;
}

.KLayout section article nav a {
    display: inline;
    line-height: 120%;
}

.KLayout section article nav a:hover {
    text-decoration: underline;
}

.KLayout section article nav a:after {
    position: relative;
    content: ">";
    font-family: "glyph";
    vertical-align: baseline;
    top: .1em;
    padding-left: 10px;
    display: inline-block;
    text-decoration: none !important;
}

.KLayout section article nav a + a {
    margin-top: .6em;
}

.KLayout section article nav a + a:before {
    content: "\a";
    white-space: pre-wrap;
}

.KLayout section + section {
    margin-top: 20px;
}


.KLayout section.heroDisplay {
    text-shadow: 0px 0px 10px rgba(0,0,0,.6);
}

.KLayout section.heroDisplay p {
    font-size: 150%;
    line-height: 150%;
    text-align: center;
}


.KLayout section.heroDisplay article {
    border-left: none;
    border-right: none;
    background-color: transparent;
    max-width: 800px;
    padding: 100px 40px;
    margin: 0px auto;
    color: #FFF;
}


.KLayout section.heroDisplay h1 {
    font-size: 50px;
    font-weight: normal;
    line-height: 100%;
    margin: 20px auto;
    padding: 0px;
    text-align: center;
    color: #FFF;
}

.KLayout .multicolumn-2 {
    padding: 0px;
}

.KLayout .multicolumn-2 > * {
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    margin: 0px;
}

.KLayout .multicolumn-2:after {
    display: block;
    position: static;
    content: "";
    clear: both;
    width: 100%;
    height: 1px;
}

.KLayout .multicolumn-2 > :nth-child(2) {
    border-left: solid 3px rgba(0,0,0,.05);
}


.KLayout figure.code {
    position: relative;
    margin: 0px;
    background-color: #4d4d4d;
    padding: 10px 10px 10px 60px;
    border-radius: 3px;
    border: solid 1px rgba(0,0,0,.2);
    color: #fcfcfc;
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
}


.KLayout figure.code:before {
    content: "#";
    font-family: "glyph";
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/css/Noto-Sans-regular/Noto-Sans-regular.eot');
  src: url('/css/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans'),
       local('Noto-Sans-regular'),
       url('/css/Noto-Sans-regular/Noto-Sans-regular.woff2') format('woff2'),
       url('/css/Noto-Sans-regular/Noto-Sans-regular.woff') format('woff'),
       url('/css/Noto-Sans-regular/Noto-Sans-regular.ttf') format('truetype'),
       url('/css/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url('/css/Noto-Sans-700/Noto-Sans-700.eot');
  src: url('/css/Noto-Sans-700/Noto-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold'),
       local('Noto-Sans-700'),
       url('/css/Noto-Sans-700/Noto-Sans-700.woff2') format('woff2'),
       url('/css/Noto-Sans-700/Noto-Sans-700.woff') format('woff'),
       url('/css/Noto-Sans-700/Noto-Sans-700.ttf') format('truetype'),
       url('/css/Noto-Sans-700/Noto-Sans-700.svg#NotoSans') format('svg');
}

body {
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #31363b;
}

header {
    position: relative;
}

header > * {
    padding: 0px !important;
    margin: 0px auto !important;
}

p {
    margin: 0px;
    margin-bottom: 1em;
    max-width: 900px;
}

p + p {
    margin-top: 5px;
}

a {
    text-decoration: none !important;
    color: #3b85b5;
}

a:hover {
    color: #3daefd;
}

main h1 {
    display: block;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

main h2 {
    font-size: 22px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

main h3 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

main h4 {
    font-size: 18px;
    font-weight: normal;
    color: #536161;
    margin: 0px;
    margin-top: 20px;
}

main h5 {
    font-size: 16px;
    font-weight: normal;
    color: #536161;
    margin: 0px;
    margin-top: 15px;
}

main h6 {
    font-size: 15px;
    font-weight: normal;
    color: #536161;
    margin: 0px;
    margin-top: 10px;
}

.learn-more:after {
    content: ">";
    font-family: "glyph";
    font-size: 80%;
    font-weight: bold !important;
    vertical-align: middle;
    padding-left: 1em;
}

.learn-more {
    display: inline-block;
}

a.button {
    position: relative;
    display: inline-block;
    background-color: #54a3d8;
    color: #fcfcfc;
    padding: 5px 10px;
    border-radius: 2px;
    border: solid 1px rgba(0,0,0,.1);
    transition: background-color .2s;
}

a.button:hover {
    background-color: #7cbcec;
}

a.button.expand {
    display: block;
    padding-right: 20px;
}

a.button:after {
    color: #fcfcfc
}

a.button.expand:after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -.8ex;
}

@media (max-width: 768px) {
    a.button {
        display: block;
        padding-right: 20px;
    }
    
    a.button:after {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -.8ex;
    }

}

main section {
    margin-top: 40px;
}



#kFooter section {
    padding-top: 10px;
    padding-bottom: 10px;
}

#kSocial {

    border-top: solid 1px #cfd5d5;

}

#kPatrons h3, #kLinks h3 {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}



#kPatrons a, #kPatrons span {
    text-align: center;
    padding: 0px 20px;
    display: block;
    
    min-width: 200px;
}


#kPatrons img {
    width: 100%;
    max-width: 300px;
}

#kLinks {
    padding-top: 30px !important;
    padding-bottom: 40px !important;
}

#kLinks a {
    display: inline;
}

#kLinks nav {
    max-width: 200px;
}


#kLinks a:after { content: ' '; display: block; } 

#donateAmountField, #donateSubmit, #kMetaStore .button {
    border: solid 1px rgba(0,0,0,.2);
    background-color: #FAFAFA;
    padding: 5px 10px;
    border-radius: 2px;
    background-clip: padding-box;
    position: relative;
    color: #333;
}

#donateSubmit, #kMetaStore .button {
    cursor: pointer;
}

#donateAmountField:focus, #kMetaStore .button:focus {
    border-color: #7cbcec;
    background-color: #FFF;
}

#donateSubmit:hover,  #kMetaStore .button:hover {
    background-color: #FFF;
}

#donateSubmit:active,  #kMetaStore .button:active {
    background-color: #EEE;
    top: 1px;
}

#kLegal small {
min-width: 300px;
}

#kLegal {
    color: #6f8181;
}

footer {
    background-color: #EFF1F1;
    position: relative;
    padding-top: 2px;
    font-size: 12px;
}


#headerCarousel {
    margin-bottom: 20px;
    height: 700px;
}


@media (max-width: 1700px) {
    #headerCarousel {
        height: 600px;
    }
}

@media (max-width: 1140px) {
    #headerCarousel {
        height: 500px;
    }
}

@media (max-width: 800px) {
    #headerCarousel {
        height: 400px;
    }
}


#headerCarousel .carousel-inner {
    width: 100%;
    height: 100%;
}

#headerCarousel .carousel-item.dark-text {
    color: #333; 
    text-shadow: none;
}


#headerCarousel .carousel-item {
    color: #EEE; 
    text-shadow: 0px 1px 2px rgba(0,0,0,.6);
    
    top: 0px !important;

    width: 100%;
    height: 100%;
    
    padding: 40px 50px;
}

#headerCarousel .carousel-item > h1 {
    margin: 10px auto;
    text-align: center;
    display: block;
}

#headerCarousel .carousel-item .alignBottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    padding: 40px 50px;
    text-align: center;
}

#headerCarousel .carousel-control-prev, #headerCarousel .carousel-control-next {
    top: 50%;
    width: 30px;
    height: 100px;
    margin-top: -50px;
    
    background-color: #FAFAFA;
    opacity: 1;
    
    font-family: "glyph";
    
    color: #333;
    padding: 0px;
    transition: width .2s;
}

#headerCarousel .carousel-control-prev:hover, #headerCarousel .carousel-control-next:hover {
    width: 50px;
}

#headerCarousel .carousel-control-prev:before {
    content: "<";
    width: 100%;
    text-align: center;
}

#headerCarousel .carousel-control-next:before {
    content: ">";
    width: 100%;
    text-align: center;
}

#headerCarousel .carousel-control-prev {
    border-right: solid 2px #3daefd;
}

#headerCarousel .carousel-control-next {
    border-left: solid 2px #3daefd;
}


#kSocial {
    text-align: right;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#kSocial a {
    padding: 0px 20px;
    text-indent: -9999px;
    text-align: left;
}

#kSocial a:after {
    text-align: center;
}

#kFooterIncome {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #abf9c7;
    border: solid 1px #7ceca4;
    border-radius: 2px;
    margin-top: 10px;
    padding: 0px !important;
}

#kDonateForm, #kMetaStore {
    padding: 20px;
    margin: 0px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#kDonateForm {
    border-right: solid 1px #7ceca4;
}

#kFooterIncome .center {
    text-align: center;
    width: 100%;
}

#kMetaStore .button {
    width: auto !important;
    display: inline-block !important;
}

@media (max-width: 768px) {
    #kFooterIncome {
        flex-direction: column;
    }
    #kDonateForm, #kMetaStore {
        width: 100%;
    }
    
    #kDonateForm {
        border-right: none;
        border-bottom: solid 1px #7ceca4;
    }
}

#kFooterIncome h3 {
    font-size: 14px;
    color: #377d50;
    padding: 0px 0px 10px;
    margin: 0px;
}

#kFooterIncome h3 a {
    font-weight: normal;
    margin-left: 20px;
}
#kDonateForm h3 a:before {
    content: "( ";
    color: #377d50;
}
#kDonateForm h3 a:after {
    content: " )";
    color: #377d50;
}

#kFooterIncome p {
    margin-bottom: 10px;
}

header:after {
    bottom: 0px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAFCAYAAACzSkmrAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACkSURBVDiN7dExDsIwDEbh9we1soXE6eCEbJyInQNwgKgxQ9WWFrIShr7ZkewvYm/V5fbwLj8NoKTec0lGzp66ZAzJS8jQ4EKG5KLY+FIeYBAOMoRHyFC4YJwpcqVixGYWnHHG1ebs700YHxBAHWM6DqoYHxBvswvGEegbnL1q/pAqxgQB1DE2EEAdY4aABeMEHH57+n+m8/UerZfYW0qtF9hb9wI2bU03vw4M8QAAAABJRU5ErkJggg==");

}

footer:before
 {
    top: 0px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAFCAYAAACzSkmrAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADOSURBVDiN7ZExTsRQDESfHSJqWq7AKfYOiAtScgmOwQno0CqKIlt/Iw8NYZVF25IU+yoXLmbe2PPrh7ixG3zrADfW3G0dYIckEOtbCRYGiSlUnrhCkMgCwEyJLn5RCE+kABBK1IWbkq6iTpX0ffRe6dXi1D/k3gZZZKxEAFyTcRYB12RcigD4K6Ob3l6e2ka9f1kGGYACJqCdRWg2YwQQdgSgGGU2g36K04DJoEADAOaDSiVsQtYWEXP57G4jwD15BPh8/BrfD4f5P0vvmW/7cKBf79wHGwAAAABJRU5ErkJggg==");

}

header:after, footer:before {
    content: "";
    display: block !important;
    background-size: 100% 5px;
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0px;
}

#cookieWarning {
    display:none;
    border-top: solid 1px #ffc169;
    background-color: #ffdaa5;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 20px;
    z-index: 999;
    color: #884d2c;
}


#cookieWarning button {
    float: right;
    border: solid 1px #ffc169;
    border-radius: 2px;
    background-color: #fff3e1;
    color: #884d2c;
    padding: 10px 20px;
}

main:after {
    content: "";
    display: block !important;
    height: 40px;
    margin: 40px 10px 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: contain;
    
    background-image: url("data:image/svg+xml;utf8,<svg width='100' height='70' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 100 70'><g fill-rule='evenodd' transform='translate(0 -982)'><path fill='%23ffa92d' d='m53.7 1e3 0.656-2.62-2.53-2.72 0.562 6.75z'/><path fill='%23f58273' d='m74.1 1.02e3s3.37 4.03 8.44 2.16c5.06-1.88 11.6-4.22 11.6-4.22s-1.97-1.03-4.12-2.72c-2.16-1.69-4.69-1.22-4.69-1.22s2.44-1.31 3.19-4.88c0.75-3.56 0.844-8.25 0.844-8.25s-14.5 9.84-15.3 19.1z'/><path d='m84.8 992c0.802-1.87 3.71-6.56-0.421-5.95-2.6 1.68-2.9 5.16-3.52 7.94-0.143 1.09-3.16-2.93-4.11 0.079-0.593 1.67 2.34 3.51 0.538 5.59-0.517 1.63-1.11 3.25-2.81 1.67-6.14-2.92-13.9-4.76-20.1-1.07-6.23 3.76-10.3 11.8-7.94 19 2.53 4.67 8.59 7.12 13.7 5.68-1.12 1.04 0.0138 3.82-1.49 1.64-2.31-1.14 0.602 3.17-1.45 1.29-2.62-0.896-0.566 2.57 0.91 2.71-1.61 4.03 6.66-1.4 3 2.28-2.06 2.78-4.67 5.3-5.87 8.6 0.358 1.69-2.61 5.71 1.07 4.64 3.23-0.762 6.21-2.43 9.5-1.17 2.85 0.226 5.75 0.346 8.58-0.11 2.1 2.4 5.36 3.31 7.31 5.85 2.63 1.62 0.965-3.78 0.985-5.22-0.634-2.13-0.789-3.62 1.82-3.73 3.74-1.29 4.4-5.6 6.84-8.23 1.97-2.9 5.56-3.58 8.36-5.31-1.31-2.27-5.93-1.17-8.43-0.78-4.15 0.788-7.96 2.72-12 3.82-3.77 1.47-5.8-2.3-4.14-5.35 0.638-3.29 1.14-6.61 1.61-9.93 3.64-4.43 7.46-8.73 10.8-13.4 1.52-2.85 1.04-6.77-1.08-9.19-0.509-0.518-1.08-0.975-1.7-1.35z' fill='%233bb566'/><path fill='%23f58273' d='m59.4 1.02e3s0.656 2.62 2.53 4.12 5.06 2.06 5.06 2.06 1.12-5.72 2.53-8.91 3.19-7.78 3.19-7.78-6.37 2.81-8.91 5.16c-2.53 2.34-4.41 5.34-4.41 5.34z'/><path fill='%23ffa92d' d='m70.1 1e3 -0.281-3.84 1.5-1.78 0.562 1.41 6.84-11.5-0.281 5.72-4.12 5.72 1.87 0.938-1.69 1.78-1.03-1.41-1.03 1.78v2.25s-0.75-0.094-1.59-0.281c-0.844-0.188-0.75-0.75-0.75-0.75z'/><path fill='%23ffafa5' d='m29.6 998 1.6-1.15-0.448-6.59 2.24 1.47 0.639 4.09 2.17-4.41 2.37 1.02-4.09 8.06z'/><path fill='%2354d883' d='m23.6 996c-4.93-0.0608-9.92 2.75-11.8 7.42-0.985 2.88-1.97 5.77-2.95 8.65 1.64 1.36 3.43 2.58 4.99 4.03 1.67 2.07 4.57 2.07 6.69 3.41 0.767 1.75-0.444 1.79-1.72 1.97-1.03 1.81 1.55 4.15-0.27 6.08-1.12 2.28-2.43 4.45-3.77 6.6-2.33-0.385-5.91-0.826-5.97-3.83 0.0172-1.85-0.915-5.38-2.79-2.54-2.53 2.75-4.01 7.34-1.53 10.6 1.93 2.56 5.03 5.06 8.43 4.22 0.28 2.44-1.32 4.7-0.754 7.09 1.96 2.43 4.67-1.56 6.34-2.77 1.75-1.22 2.6-3.62 4.64-4.32 2.31-0.463 4.98-0.53 7.11 0.395 1.34 2.17 2.92 4.86 5.65 5.34 3.63-0.144-0.691-3.52-0.351-5.4-0.21-2.56-0.666-5.08-1.09-7.61 1.3-0.095-0.271-2.17 1.17-1.81 2 0.408 4.59-2.72 1.53-3.18-2.21-0.568-4.21-1.08-6.48-1.71-2.84-1.04-0.064-5.2-3.07-5.96-0.926-2 1.24-2.88 2.79-3.14 3.65-1.48 7.72-3.47 9.26-7.35 1.09-3.67-0.925-7.45-3.22-10.2-3.16-3.69-7.92-6.08-12.8-5.95z'/><path d='m28.2 1.03e3 1.21-0.576s0.575 1.85 2.49 1.21c1.92-0.639 3.01-1.41 3.01-1.41s1.6 3.07-0.128 4.99-2.75 2.17-2.75 2.17c-1.77-1.57-3.25-3.47-3.84-6.39z' fill='%23ffe5e1'/><path d='m20.5 1.02e3s0.64 1.28 0.32 2.37-1.98 2.37-1.98 2.37-0.896 2.94-2.62 5.37c-0.864 1.22-2 1.41-3.1 1.54-1.02-1.89-2.26-0.822-3.56 0.294 0.234 0.311 0.485 0.579 0.754 0.804-0.0147 0.019-0.0318 0.032-0.0462 0.052-1.41 1.92 3.13 2.56 3.13 2.56s0.575-1.73 5.31-0.96c4.73 0.767 6.33 3.9 12.4 4.35 6.07 0.448 6.33-3.13 6.33-3.13s-2.37-0.895-6.27-5.37-3.39-9.08-3.39-9.08l-7.29-1.15zm-12.5 8.44c-0.292 0.993-0.115 1.86 0.915 2.52 1.51-1.98 0.325-2.24-0.915-2.52z' fill='%23ffafa5'/><path fill='%23ffafa5' d='m14.9 1e3 -3.45-5.05 5.44-4.48-1.85-2.62-5.56 4.73-0.192-5.5-2.94 0.384s1.15 4.67 0.256 7.23c-0.895 2.56-2.37 5.12-2.37 5.12l2.3 1.41 2.94-4.8 3.01 6.52s0.831-0.384 1.66-1.34c0.831-0.959 0.767-1.6 0.767-1.6z'/><path d='m11.9 1e3 -2.08 1.81s-0.904-2.71-1.09-4.16c-0.181-1.45-0.181-3.89-1.72-3.53-1.54 0.362-0.995 6.96-0.995 6.96s-1.45 0.723-2.35-2.08c-0.904-2.8-2.89-3.07-2.44-0.362 0.452 2.71 1.9 4.34 1.9 4.34s-1.36 0.904-1.36 1.99-0.181 1.81-0.181 1.81-0.814 1.18-0.452 2.44c0.362 1.27 2.98 2.98 3.44 2.89 0.452-0.09 1.09 1.54 2.62 2.17 1.54 0.633 3.17 4.43 3.17 4.43l2.53-0.452 1.27-2.89-0.452-2.8z' fill='%2354d883'/><path fill='%23ffe5e1' d='m18.9 1.02e3s0.767 1.21 0.703 2.37c-0.064 1.15-1.09 2.56-1.09 2.56s-5.05 1.28-7.93 0.064c-2.88-1.21-6.2-4.99-4.09-7.16s6.84-4.73 7.93-2.81 1.02 5.95 2.24 5.75c1.21-0.192 2.24-0.767 2.24-0.767z'/></g></svg>");

}



@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');




@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


html, body, input {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    color: #31363b;
}

html, body {
    padding: 0px;
    margin: 0px;
    background-color: #FCFCFC;
}

body.headerCoverHero {
    padding-top: 50px;
}

main {
    padding: 0px;
}

a {
    text-decoration: none !important;
    color: #1D99F3;
}

a:visited {
    color: #2980b9;
}

h1,h2,h3,h4,h5,p {
    margin: 0px;
}

h1 {
    font-size: 42px;
    font-weight: 300;
    color: #7f8c8d;
}

h2 {
    font-size: 26px;
    font-weight: 300;
    color: #4D4D4D;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    color: #4D4D4D;
}

#pageHeader {
    position: fixed;
    z-index: 9999;
    margin: 0px 0px -1px;
    padding-top: 50px;
    border-bottom: solid 3px rgba(0,0,0,.1);
    background-clip: padding-box;
}


#pageHeader:before {
    content: "";
    background-color: #FCFCFC;
    height: 50px;
    top: 0px;
    width: 100%;
    position: absolute;
    z-index: 0;
}


body.headerCoverHero #pageHeader {
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2000;
}

#pageHeader nav {
    z-index: 1;
}

#headerLogo {
    text-indent: -999px;
    color: #31363b;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 0px;
}

#headerLogo:before {
    font-family: "glyph";
    content: "K";
    line-height: 50px;
    font-size: 32px;
    text-indent: 0px;
    width: 80px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.headerNav .rootNav > li {
    display: inline-block;
    position: relative;
    padding: 0px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    color: #31363B;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

#headerStaticNav.headerNav .rootNav {
    left: 80px;
}

#siteNavigation {
    background-color: rgba(252,252,252,.95);
    /*background-color: rgba(239,240,241,.95);*/
}

#siteNavigation h1 {
    padding: 5px 20px;
    font-size: 20px;
    color: #192629;
}


#pageFooter {
    position: relative;
    z-index: 2000;
    background-color: #31363b;
}


.headerNav ul.rootNav {
    position: relative;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.headerNav li {
    vertical-align: top;
}

.headerNav .rootNav >  li:after {
    font-family: "glyph";
    font-weight: 400;
    content: "v";
    margin-left: 10px;
    position: relative;
    display: inline-block;
    top: .1ex;
    transition: all .2s;
}

.headerNav .rootNav > li:before {
    content: "";
    position: absolute;
    top: 48px;
    left: 20px;
    right: 20px;
    height: 2px;
    background-color: transparent;
    transition: all .2s;
}

.headerNav .rootNav > li:hover:before {
    background-color: #1d99f3;
    transition: all .4s;
    left: 0px;
    right: 0px;
}

.headerNav .rootNav >  li:hover:after {
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
}

.headerNav .rootNav > li {
    padding-bottom: 0px;
    transition: padding-bottom 0s .4s;
}

.headerNav .rootNav > li:hover {
    padding-bottom: 10px;
    transition: padding-bottom 0s;
    z-index: 2;
}

.headerNav .rootNav > li:hover .popout {
  visibility: visible;
    opacity: 1;
    top: 100%;
    transition: visibility 0s 0s, opacity .4s, top .4s;
}

.headerNav .popout {
    visibility: hidden;
    display: block;
    position: absolute;
    cursor: default;
    opacity: 0;
    top: 80%;
    left: -180px;
    width: 500px;
    line-height: 100%;
    min-height: 200px;
    background-color: #FCFCFC;
    border-radius: 3px;
    border: solid 1px rgba(0,0,0,.2);
    background-clip: padding-box;
    box-shadow: 0px 2px 10px rgba(0,0,0,.2);
    transition: visibility 0s .2s, opacity .1s .1s, top .1s .1s;
}

.headerNav .rootNav>li:nth-child(1) .popout {
    left: -70px;
}


.headerNav .popout:before {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 100%;
    left: 239px;
    border-top: 0;
    border-left: solid 11px rgba(0,0,0,0);
    border-right: solid 11px rgba(0,0,0,0);
    border-bottom: solid 11px rgba(0,0,0,.2);
    -moz-transform: scale(.9999)
}


.headerNav .popout:after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 100%;
    left: 240px;
    border-top: 0;
    border-left: solid 10px rgba(255,255,255,0);
    border-right: solid 10px rgba(255,255,255,0);
    border-bottom: solid 10px rgba(255,255,255,1);
    -moz-transform: scale(.9999)
}

.headerNav .rootNav>li:nth-child(1) .popout:before {
    left: 130px;
}

.headerNav .rootNav>li:nth-child(1) .popout:after {
    left: 131px;
}


.headerNav nav a {
    display: block;
}


#headerDynamicNav .popout {
    left: auto;
    right: 0px;
}

#headerStaticNav {
    position: absolute;
    top: 0px;
    left: 0px;
}

#searchMenu:after{
    display: none;
}

#headerStaticNav .donate:hover:before {
    background-color: #f67400 !important;
}

#headerStaticNav .donate {
    color: #f67400;
    font-weight: bold;
}

#headerDynamicNav {
    position: absolute;
    top: 0px;
    right: 10px;
}

#searchMenu {
    width: 80px;
}

#headerSearchMenu {
    display: block;
    text-indent: -9999px;
    width: 40px;
}


#headerSearchMenu:before {
    font-family: "glyph";
    content: "Q";
    color: #31363B;
    line-height: 50px;
    font-size: 16px;
    text-indent: 0px;
    width: 80px;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 0px;
}


#searchMenu .popout:before {
    left: auto;
    right: 30px;
}

#searchMenu .popout:after {
    left: auto;
    right: 31px;
}

#headerSearchMenu section {
    display: none;
}

.throbber {
    display: block;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
}

.throbber:before {
    font-family: "glyph";
    font-weight: 400 !important;
    content: "%";
    color: #4d4d4d;
    position: absolute;
    text-align: center;
    text-indent: 0;
    display: block;
    line-height: 50px;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    font-size: 32px;
    animation: rotating 1.5s linear infinite;
}


main article {
    border-left: solid 1px rgba(0,0,0,.1);
    border-right: solid 1px rgba(0,0,0,.1);
}

@media (max-width:1000px) {
    #headerLogo {
        width: 100%;
        top: -50px;
    /*
    font-family: "glyph";
    content: "K";
    line-height: 50px;
    font-size: 32px;
    text-indent: 0px;
    width: 80px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    */
    }
    #headerLogo:before {
        left: 50%;
        margin-left: -16px;
        width: 32px;
        position: absolute;

    }

    #headerDynamicNav {
        top: -50px;
    }

    #headerLogo:after {
        font-family: "glyph";
        content: "=";
        line-height: 50px;
        font-size: 16px;
        text-indent: 0px;
        width: 56px;
        text-align: center;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    #headerStaticNav {
        right: 0px;
        top: -50px;
        position: relative;
    }

    #headerStaticNav .rootNav {
        /*display: none;*/
        display: block;
        position: static;
        margin-top: 50px;
    }

    #headerStaticNav .rootNav li {
        display: block;
    }



    #headerStaticNav .popout {
        display: none;
        position: relative;
    }

    #headerStaticNav li:hover .popout {
        display: block;
    }
}
@font-face {
  font-family: 'glyph';
  src:  url('glyph/glyph.eot?5ea9rb');
  src:  url('glyph/glyph.eot?5ea9rb#iefix') format('embedded-opentype'),
    url('glyph/glyph.ttf?5ea9rb') format('truetype'),
    url('glyph/glyph.woff?5ea9rb') format('woff'),
    url('glyph/glyph.svg?5ea9rb#glyph') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="glyph-"], [class*=" glyph-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'glyph' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyph-share-mastodon:before {
  content: "\6d";
}
.glyph-share-diaspora:before {
  content: "\2a";
}
.glyph-go-previous:before {
  content: "\3c";
}
.glyph-hamburger:before {
  content: "\3d";
}
.glyph-go-next:before {
  content: "\3e";
}
.glyph-share-facebook:before {
  content: "\46";
}
.glyph-share-gplus:before {
  content: "\47";
}
.glyph-go-home:before {
  content: "\48";
}
.glyph-info:before {
  content: "\49";
}
.glyph-logo-kde:before {
  content: "\4b";
}
.glyph-logo-plasmamobile:before {
  content: "\4d";
}
.glyph-logo-plasma:before {
  content: "\50";
}
.glyph-search:before {
  content: "\51";
}
.glyph-share-reddit:before {
  content: "\52";
}
.glyph-settings:before {
  content: "\53";
}
.glyph-share-twitter:before {
  content: "\54";
}
.glyph-video:before {
  content: "\56";
}
.glyph-window-new:before {
  content: "\57";
}
.glyph-close:before {
  content: "\58";
}
.glyph-share-ycombinator:before {
  content: "\59";
}
.glyph-cancel:before {
  content: "\5c";
}
.glyph-go-up:before {
  content: "\5e";
}
.glyph-check:before {
  content: "\63";
}
.glyph-link:before {
  content: "\6c";
}
.glyph-share:before {
  content: "\73";
}
.glyph-go-down:before {
  content: "\76";
}
.glyph-new-window:before {
  content: "\77";
}
.glyph-clear:before {
  content: "\78";
}
.glyph-share-telegram:before {
  content: "\2197";
}
.glyph-favorite:before {
  content: "\e900";
}
.glyph-view-catalog:before {
  content: "\e908";
}
.glyph-view-categories:before {
  content: "\e909";
}
.glyph-view-fullscreen:before {
  content: "\e90a";
}
.glyph-view-list-details:before {
  content: "\e90b";
}
.glyph-view-list-icons:before {
  content: "\e90c";
}
.glyph-view-list-text:before {
  content: "\e90d";
}
.glyph-view-list-tree:before {
  content: "\e90e";
}
.glyph-view-media-playlist:before {
  content: "\e90f";
}
.glyph-linkedin:before {
  content: "\eac9";
}
#KGlobalFooter {
    background-color: #eff0f1;
    color: #7f8c8d;
}

main:after {
    content: "";
    display: block !important;
    height: 70px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    
    background-image: url("data:image/svg+xml;utf8,<svg width='100' height='70' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 100 70'><g fill-rule='evenodd' transform='translate(0 -982)'><path fill='%23ffa92d' d='m53.7 1e3 0.656-2.62-2.53-2.72 0.562 6.75z'/><path fill='%23f58273' d='m74.1 1.02e3s3.37 4.03 8.44 2.16c5.06-1.88 11.6-4.22 11.6-4.22s-1.97-1.03-4.12-2.72c-2.16-1.69-4.69-1.22-4.69-1.22s2.44-1.31 3.19-4.88c0.75-3.56 0.844-8.25 0.844-8.25s-14.5 9.84-15.3 19.1z'/><path d='m84.8 992c0.802-1.87 3.71-6.56-0.421-5.95-2.6 1.68-2.9 5.16-3.52 7.94-0.143 1.09-3.16-2.93-4.11 0.079-0.593 1.67 2.34 3.51 0.538 5.59-0.517 1.63-1.11 3.25-2.81 1.67-6.14-2.92-13.9-4.76-20.1-1.07-6.23 3.76-10.3 11.8-7.94 19 2.53 4.67 8.59 7.12 13.7 5.68-1.12 1.04 0.0138 3.82-1.49 1.64-2.31-1.14 0.602 3.17-1.45 1.29-2.62-0.896-0.566 2.57 0.91 2.71-1.61 4.03 6.66-1.4 3 2.28-2.06 2.78-4.67 5.3-5.87 8.6 0.358 1.69-2.61 5.71 1.07 4.64 3.23-0.762 6.21-2.43 9.5-1.17 2.85 0.226 5.75 0.346 8.58-0.11 2.1 2.4 5.36 3.31 7.31 5.85 2.63 1.62 0.965-3.78 0.985-5.22-0.634-2.13-0.789-3.62 1.82-3.73 3.74-1.29 4.4-5.6 6.84-8.23 1.97-2.9 5.56-3.58 8.36-5.31-1.31-2.27-5.93-1.17-8.43-0.78-4.15 0.788-7.96 2.72-12 3.82-3.77 1.47-5.8-2.3-4.14-5.35 0.638-3.29 1.14-6.61 1.61-9.93 3.64-4.43 7.46-8.73 10.8-13.4 1.52-2.85 1.04-6.77-1.08-9.19-0.509-0.518-1.08-0.975-1.7-1.35z' fill='%233bb566'/><path fill='%23f58273' d='m59.4 1.02e3s0.656 2.62 2.53 4.12 5.06 2.06 5.06 2.06 1.12-5.72 2.53-8.91 3.19-7.78 3.19-7.78-6.37 2.81-8.91 5.16c-2.53 2.34-4.41 5.34-4.41 5.34z'/><path fill='%23ffa92d' d='m70.1 1e3 -0.281-3.84 1.5-1.78 0.562 1.41 6.84-11.5-0.281 5.72-4.12 5.72 1.87 0.938-1.69 1.78-1.03-1.41-1.03 1.78v2.25s-0.75-0.094-1.59-0.281c-0.844-0.188-0.75-0.75-0.75-0.75z'/><path fill='%23ffafa5' d='m29.6 998 1.6-1.15-0.448-6.59 2.24 1.47 0.639 4.09 2.17-4.41 2.37 1.02-4.09 8.06z'/><path fill='%2354d883' d='m23.6 996c-4.93-0.0608-9.92 2.75-11.8 7.42-0.985 2.88-1.97 5.77-2.95 8.65 1.64 1.36 3.43 2.58 4.99 4.03 1.67 2.07 4.57 2.07 6.69 3.41 0.767 1.75-0.444 1.79-1.72 1.97-1.03 1.81 1.55 4.15-0.27 6.08-1.12 2.28-2.43 4.45-3.77 6.6-2.33-0.385-5.91-0.826-5.97-3.83 0.0172-1.85-0.915-5.38-2.79-2.54-2.53 2.75-4.01 7.34-1.53 10.6 1.93 2.56 5.03 5.06 8.43 4.22 0.28 2.44-1.32 4.7-0.754 7.09 1.96 2.43 4.67-1.56 6.34-2.77 1.75-1.22 2.6-3.62 4.64-4.32 2.31-0.463 4.98-0.53 7.11 0.395 1.34 2.17 2.92 4.86 5.65 5.34 3.63-0.144-0.691-3.52-0.351-5.4-0.21-2.56-0.666-5.08-1.09-7.61 1.3-0.095-0.271-2.17 1.17-1.81 2 0.408 4.59-2.72 1.53-3.18-2.21-0.568-4.21-1.08-6.48-1.71-2.84-1.04-0.064-5.2-3.07-5.96-0.926-2 1.24-2.88 2.79-3.14 3.65-1.48 7.72-3.47 9.26-7.35 1.09-3.67-0.925-7.45-3.22-10.2-3.16-3.69-7.92-6.08-12.8-5.95z'/><path d='m28.2 1.03e3 1.21-0.576s0.575 1.85 2.49 1.21c1.92-0.639 3.01-1.41 3.01-1.41s1.6 3.07-0.128 4.99-2.75 2.17-2.75 2.17c-1.77-1.57-3.25-3.47-3.84-6.39z' fill='%23ffe5e1'/><path d='m20.5 1.02e3s0.64 1.28 0.32 2.37-1.98 2.37-1.98 2.37-0.896 2.94-2.62 5.37c-0.864 1.22-2 1.41-3.1 1.54-1.02-1.89-2.26-0.822-3.56 0.294 0.234 0.311 0.485 0.579 0.754 0.804-0.0147 0.019-0.0318 0.032-0.0462 0.052-1.41 1.92 3.13 2.56 3.13 2.56s0.575-1.73 5.31-0.96c4.73 0.767 6.33 3.9 12.4 4.35 6.07 0.448 6.33-3.13 6.33-3.13s-2.37-0.895-6.27-5.37-3.39-9.08-3.39-9.08l-7.29-1.15zm-12.5 8.44c-0.292 0.993-0.115 1.86 0.915 2.52 1.51-1.98 0.325-2.24-0.915-2.52z' fill='%23ffafa5'/><path fill='%23ffafa5' d='m14.9 1e3 -3.45-5.05 5.44-4.48-1.85-2.62-5.56 4.73-0.192-5.5-2.94 0.384s1.15 4.67 0.256 7.23c-0.895 2.56-2.37 5.12-2.37 5.12l2.3 1.41 2.94-4.8 3.01 6.52s0.831-0.384 1.66-1.34c0.831-0.959 0.767-1.6 0.767-1.6z'/><path d='m11.9 1e3 -2.08 1.81s-0.904-2.71-1.09-4.16c-0.181-1.45-0.181-3.89-1.72-3.53-1.54 0.362-0.995 6.96-0.995 6.96s-1.45 0.723-2.35-2.08c-0.904-2.8-2.89-3.07-2.44-0.362 0.452 2.71 1.9 4.34 1.9 4.34s-1.36 0.904-1.36 1.99-0.181 1.81-0.181 1.81-0.814 1.18-0.452 2.44c0.362 1.27 2.98 2.98 3.44 2.89 0.452-0.09 1.09 1.54 2.62 2.17 1.54 0.633 3.17 4.43 3.17 4.43l2.53-0.452 1.27-2.89-0.452-2.8z' fill='%2354d883'/><path fill='%23ffe5e1' d='m18.9 1.02e3s0.767 1.21 0.703 2.37c-0.064 1.15-1.09 2.56-1.09 2.56s-5.05 1.28-7.93 0.064c-2.88-1.21-6.2-4.99-4.09-7.16s6.84-4.73 7.93-2.81 1.02 5.95 2.24 5.75c1.21-0.192 2.24-0.767 2.24-0.767z'/></g></svg>");

}

#KGlobalFooter a {
    text-decoration: none;
    color: #2980b9;
}


#KGlobalFooter section {
    width: 100%;
    max-width: 1040px;
    margin: 0px auto;
    padding: 0 20px;
    box-sizing: border-box;
}


#KGlobalFooter #KSiteFooterLinks {
    width: 100%;
    max-width: 1040px;
    margin: 0px auto;
    padding: 30px 20px 30px 0px;
}


#KGlobalFooter #KSiteFooterLinks:after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
    height: 1px;
}


#KGlobalFooter #KSiteFooterLinks nav h1 {
    font-size: 14px;
    color: #95a5a6;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
}


/*
#KGlobalFooter #KSiteFooterLinks nav {
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 12px;
    padding: 10px 0px 10px 20px;
}
*/

#KGlobalFooter #KSiteFooterLinks nav a {
    display: block;
    line-height: 150%;
}


#KGlobalFooter #KSiteFooterLinks nav a:after {
    color: #7f8c8d;
    position: relative;
    content: ">";
    font-family: "glyph";
    vertical-align: baseline;
    top: .1em;
    padding-left: 10px;
}


#KGlobalContributorLinks {
    max-width: 100% !important;
    background-color: rgba(0,0,0,.05);
}


#KGlobalContributorLinks nav {
    max-width: 1000px;
    padding: 0px;
    line-height: 50px;
    margin: 0px auto;
    font-size: 14px;
    width: 100%;
}


#KGlobalLegalInfo {
    padding: 20px 20px !important;
}


#KGlobalLegalInfo small {
    font-size: 12px;
}


#KGlobalLegalInfo small + small:before {
    content: " | ";
    color: #bdc3c7;
    margin: 0px 10px;
}


#KGlobalLegalInfo figure {
    padding: 0px;
    margin: 0px;
    display: inline-block;
}


@media (max-width: 999px) {
    #KGlobalFooter #KSiteFooterLinks nav { width: 25%; }
}


@media (max-width: 800px) {
    #KGlobalFooter #KSiteFooterLinks nav { width: 50%; }
}

@media (max-width: 500px) {
    #KGlobalFooter #KSiteFooterLinks nav { width: 100%; }
}

    transition: visibility 0s 0s, opacity .4s, top .4s;
}

.KDevSiteStyle #KGlobalHeader,
.KProSiteStyle #KGlobalHeader {
    color: #fcfcfc;
}

.KDevSiteStyle #KGlobalHeader:before {
    background-color: #2980b9;
}
.KProSiteStyle #KGlobalHeader:before {
    background-color: #192629;
}

.KProSiteStyle #KGlobalLogo a:before {
    color: #bdc3c7;
}

.KDevSiteStyle #KGlobalLogo a:before {
    color: #fcfcfc;
}

.KDevSiteStyle #KGlobalStaticNavigation a,
.KProSiteStyle #KGlobalStaticNavigation a {
    color: #fcfcfc;
}

.KProSiteStyle #KGlobalStaticNavigation li:after {
    color: #4d4d4d
}


.KLayout .overlay,
.KLayout.overlay {
    margin-top: -1px !important;
}




.carousel-indicators li {
    width: 60px !important;
    border-radius: 1px;
}

.carousel-control-prev, .carousel-control-next {
    top: 50%;
    height: 100px;
    width: 50px;
    margin-top: -50px;
    background-color: #FFF;
    position: absolute;
}

.carousel-control-prev {
    left: 0px;
}

.carousel-control-next {
    right: 0px;
}



#KGlobalStaticNavigation section .KDisplayPane a {
    color: #2980b9;
}

#KGlobalStaticNavigation h2 {
    text-align: center;
    padding: 20px 20px 0px;
    margin: 0px;
    font-weight: normal;
}

#KGlobalStaticNavigation .KProductPane nav {
    border-right: solid 1px rgba(0,0,0,.05);
    background-color: transparent;
    min-height: 180px;
}

#KGlobalStaticNavigation .KProductPane nav a {
    line-height: 120%;
    display: block;
    font-size: 14px;
}


#KGlobalStaticNavigation .KProductsPreview {
    display: block;
    padding: 20px 220px 20px 0px;
    background-image: url(local://media/plasma-allinone.png);
    background-size: 200px 180px;
    background-repeat: no-repeat;
    background-position:  right center;

}

#KGlobalStaticNavigation .KCommunityPane h2 {
    background-image: url(local://media/community-konqis.png);
    padding-bottom: 140px;
    background-size: 400px 140px;
    background-repeat: no-repeat;
    background-position:  center bottom;
}

#KGlobalStaticNavigation .KDeveloperPane {
    color: #fafafa;
    background-image: url(local://media/develop-app.png);
    padding: 20px 140px 20px 0px;
    background-size: 400px 200px;
    background-repeat: no-repeat;
    background-position:  center bottom;
    min-height: 200px;
    box-sizing: border-box;
}

#KGlobalStaticNavigation .KDeveloperPane h2 {
    text-align: left;
    padding: 0px 0px 0px 20px;
}

#KGlobalStaticNavigation .KDeveloperPane small {
    display: block;
    padding: 10px 40px 10px 20px;
    font-size: 14px;
    line-height: 140%;
}

#KGlobalStaticNavigation .KDeveloperPane a {
    color: #3daefd !important;
    padding: 5px 5px 5px 20px;
    font-size: 14px;
}

#KGlobalStaticNavigation .KDeveloperPane a:hover {
    color: #fafafa !important;
}




#KGlobalStaticNavigation .KDonatePane {
    background-image: url(local://media/donate-join.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}

#KGlobalStaticNavigation .KDonatePane h2 {
    color: #fafafa;
}

#KGlobalStaticNavigation .KDonatePane h4 {
    color: #fafafa;
    font-size: 14px;
    margin: 2px 20px 70px 20px;
    text-align: center;
    font-weight: normal;
}

.mw-jump, #jump-to-nav {
    display: none;
    height: 0;
}

.card {
    padding: 7px;
}

.list-header {
    font-size: 18px;
}

.list-header:not(:first-child) {
    border-top: 1px solid rgba(0,0,0,.125);
    padding-top: 6px;
    margin-top: 5px;
}

.wikitable {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}

.wikitable thead td, .wikitable thead th {
    border-bottom-width: 2px;
}

.wikitable thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.wikitable td, .wikitable th {
    border: 1px solid #dee2e6;
}

table.wikitable > tr > th, table.wikitable > * > tr > th {
    background-color: #eff0f1;
}

@media not print {
    .printfooter {
        display: none;
    }
}

#mw-normal-catlinks {
    margin-top: 7px;
}
#mw-normal-catlinks ul {
    display: inline-block;
    padding-left: 0;
}

#mw-normal-catlinks ul li {
    list-style: none;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 0;
}

textarea {
    color: #31363b;
    background-color: #fff;
}

pre, .editOptions {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    padding: 4px;
}

.editOptions {
    margin-top: 10px;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.floatleft {
    float: left !important;
}

table {
    border-spacing: 0;
}

.alert table tbody th {
    text-align: center !important;
}

.center .floatnone {
    text-align: center;
}

div.tright, div.floatright, table.floatright {
    clear: right;
    float: right;
}

.tright .thumbinner, .floatright a {
    margin-left: 8px !important;
}

.page-info {
    float: right;
    font-style: italic;
    color: #888;
}

.alert {
    margin-top: 10px;
}

.mw-editsection {
    margin-left: 5px;
    font-size: small;
}

#mw-content-text .image,
#mw-content-text img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.mw-enhanced-rc td:nth-child(3) {
    width: 99px;
}
.mw-enhanced-rc td:nth-child(1) {
    width: 15px;
}

select {
    background-color: white;
}

.mw-languages-dropdown {
    padding-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.mw-languages-dropdown::before {
    content: "";
    background: transparent no-repeat scroll left center;
    background-image: url(/extensions/UniversalLanguageSelector/lib/jquery.uls/images/language.png?85750);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22%3E %3Cpath d=%22M20 18h-1.44a.61.61 0 0 1-.4-.12.81.81 0 0 1-.23-.31L17 15h-5l-1 2.54a.77.77 0 0 1-.22.3.59.59 0 0 1-.4.14H9l4.55-11.47h1.89zm-3.53-4.31L14.89 9.5a11.62 11.62 0 0 1-.39-1.24q-.09.37-.19.69l-.19.56-1.58 4.19zm-6.3-1.58a13.43 13.43 0 0 1-2.91-1.41 11.46 11.46 0 0 0 2.81-5.37H12V4H7.31a4 4 0 0 0-.2-.56C6.87 2.79 6.6 2 6.6 2l-1.47.5s.4.89.6 1.5H0v1.33h2.15A11.23 11.23 0 0 0 5 10.7a17.19 17.19 0 0 1-5 2.1q.56.82.87 1.38a23.28 23.28 0 0 0 5.22-2.51 15.64 15.64 0 0 0 3.56 1.77zM3.63 5.33h4.91a8.11 8.11 0 0 1-2.45 4.45 9.11 9.11 0 0 1-2.46-4.45z%22 fill=%22%2354595d%22/%3E %3C/svg%3E");
    background-size: contain;
    padding-left: 24px;
}

.mw-languages-dropdown::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.grid .row .row.tux-message,
.grid .row .row.tux-message-item-compact {
    width: 100%;
    display: block;
}

.row.uls-search {
    display: inline-block;
}

.uls-lcd-region-section {
    display: block;
    width: 100%;
}

.tux-message-filter-result .button {
    display: none !important;
}

.center .floatnone {
    text-align: center;
}


.menuchoice, .pager li,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
    color: #232627;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
    background-image: linear-gradient(to bottom, #eff0f1, #e9eaeb);
    position: relative;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    border: solid 1px rgba(0,0,0,.1);
    transition: background-image .2s;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
    padding: 5px 10px;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active {
    background: #3daee9;
    background-image: none;
}

.keycap {
    color: #000000;
    background-color: #e1e1e1;
    text-shadow: none;
    padding: 2px 5px;
}


code {
    background-color: lemonchiffon;
    padding: 2px 4px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

table.vertical-centered td {
    padding: 8px;
}

table:not(.mw-changeslist-line) td:first-child {
    padding-left: 0;
    min-width: 48px;
}

.pager {
    text-align: center;
}

.pager li {
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
}

.pager li a {
    color: #232627;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.pager li:hover {
    box-shadow: 1px 1px 0px 0px rgba(147, 206, 233, 0.2);
    border: solid 1px rgba(147, 206, 233, 0.6);
}

.thumb .thumbinner, .center .floatnone img {
    margin-bottom: 10px;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.center .thumbinner, .tablecenter {
    margin-left: auto;
    margin-right: auto;
}

.tleft .thumbinner, .floatleft a {
    margin-right: 20px !important;
    margin-top: 4px;
}

div.tleft, div.floatleft, table.floatleft {
    float: left;
    clear: left;
}

.mw-content-ltr dd, .mw-content-rtl .mw-content-ltr dd {
    margin-left: 1.6em;
    margin-right: 0;
}

dl, ol, ul {
    margin-bottom: 0;
}

@media print {
    .noprint, .mw-editsection {
        display: none;
    }
}

.oo-ui-panelLayout-framed {
    border-radius: 4px;
}

.alert .alert-heading {
    font-size: 16px;
    font-weight: bold;
}

.alert.d-flex img {
    min-width: 40px;
}

#pt-uls a.uls-trigger {
    padding-left: 25px;
}

.pre-input {
    background-color:lemonchiffon;
}

.form-inline .form-control {
    width: 200px;
}

@media (max-width: 768px) {
    #kHeaderNav .navbar-collapse .navbar-nav .nav-item a {
        width: 100%;
    }
    #kHeaderNav #searchInput {
        width: 100%;
        margin-top: 5px;
        margin-right: 0;
        margin-bottom: 5px;
        margin-left: 20px;
    }
}

@media (prefers-color-scheme: dark) {
    .statstable > * > tr > td,
    body, .mw-pt-languages, .ext-translate-container .tux-messagelist .tux-message-pagemode .tux-message-item-compact, .uls-language-block > ul > li:hover, .ext-translate-container .tux-messagelist .tux-message-pagemode {
        background-color: #232629 !important;
        color: #eff0f1;
    }
    #kHeaderNav .navbar-collapse a, pre, .tux-messagelist .tux-message-pagemode .tux-pagemode-source, .tux-messagelist .tux-message-pagemode .tux-pagemode-translation, .tux-editor-header, .tux-statsbar-info, .ext-translate-language-selector-label, .contributionscores-title {
        color: #eff0f1 !important;
    }
    #pagehistory li.selected,
    .statstable > * > tr > th,
    .mw-highlight,
    .lqt_post_new_message,
    .mw-pt-languages-label, .card, footer, .lqt-post-wrapper, .ext-translate-container .tux-messagelist .tux-message-pagemode .tux-message-item-compact:hover, .uls-menu, .uls-search, .uls-lcd, .uls-languagefilter, .tux-action-bar, .contributionscores .header, table.wikitable > tr > th, table.wikitable > * > tr > th, .form-control, .form-control::placeholder {
        color: #eff0f1 !important;
        background-color: #31363b !important;
        background: #31363b !important;
    }
    .statstable > * > tr > td:nth-child(6)[data-sort-value="0.00000"],
    h1, h2, h3, h4, h5, h6, #kLegal, .lqt-thread-toolbar-timestamp, .lqt-thread-actions-icon, .page-info, .tux-breadcrumb, .tux-message-selector li a{
        color: #bdc3c7 !important;
    }
    #kFooterIncome, #kFooterIncome h3 {
        color: #334545 !important;
    }
    .form-control {
        border: 1px solid #31363b;
    }
    pre.pre-input {
        background-color: #bdc3c7;
        color: black !important;
    }
}
